
@{
    ViewBag.Title = "Angular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/angular/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/main.js"></script>
}

<h2>Angular</h2>

<app-root></app-root>