<a class="btn btn-default"
   routerLink="/Home/Angular/page1"
   routerLinkActive="active"
   href="#" role="button">Page 1</a>
<a class="btn btn-default"
   routerLink="/Home/Angular/page2"
   routerLinkActive="active"
   href="#" role="button">Page 2</a>
<a class="btn btn-default"
   routerLink="/Home/Angular/page3"
   routerLinkActive="active"
   href="#" role="button">Page 3</a>
<a class="btn btn-default"
   href="/Home/Index" role="button">.Net nav -> Index</a>
<a class="btn btn-default"
   href="/Home/Angular/page2" role="button">Angular with page reload -> page 2</a>



